<div class="schedule-builder">
    <button class="save" [class.disabled]="x.length == 0" [disabled]="x.length == 0" (click)="saveSchedule()">Save</button>
    <h3>Schedule Builder</h3>
    <form [formGroup]="scheduleBuilderForm">
        <label>Name:</label>
        <input formControlName="schedule" name="schedule" type="text" />
        <label>Subject:</label>
        <input formControlName="sub" name="sub" type="text" />
        <label>Course Code:</label>
        <input formControlName="courseCode" name="courseCode" type="text" />
        <button (click)="addCourse()" [disabled]="!scheduleBuilderForm.valid">Add Course</button>
        <div *ngIf="scheduleBuilderForm.invalid && (scheduleBuilderForm.dirty || scheduleBuilderForm.touched)">
            <p *ngIf="scheduleBuilderForm.controls.schedule.errors?.required || scheduleBuilderForm.controls.sub.errors?.required || scheduleBuilderForm.controls.courseCode.errors?.required">
              Please fill in all fields.
            </p>
          </div>
    </form>
    <ul id="builder-output">
        <li *ngFor="let i of x">
            {{i.subject}} {{i.course}} {{i.courseInfo[0].component}} {{i.courseInfo[0].section}}: {{i.courseInfo[0].days}} {{i.courseInfo[0].start}}-{{i.courseInfo[0].end}} ({{i.courseInfo[0].room}})
            <button class="delete" (click)="deleteCourse(i,i.courseInfo[0].classNum)">x</button>
          </li>
    </ul>
</div>