.schedule-builder {
    border: 2px solid lightslategray;
    border-radius: 5px;
    background-color: rgba(119, 136, 153, 0.25);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
}

.save {
    background-color: #058cb9;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button.delete {
    margin-left: 5px;
    background-color: gray;
    border: none;
    border-radius: 1px;
    color: white;
  }