<div class="subjects">
  <h3>Search</h3>
  <form [formGroup]="subjectsForm">
    <label>Subject:</label>
    <input formControlName="subject" name="subject" type="text" />
    <label>Course Code:</label>
    <input formControlName="course" name="course" type="text" />
    <label>Keyword:</label>
    <input formControlName="keyword" name="keyword" type="text" />
    <button (click)="search()" [disabled]="!subjectsForm.valid">Search</button>
    <div *ngIf="subjectsForm.invalid && (subjectsForm.dirty || subjectsForm.touched)">
      <p *ngIf="subjectsForm.controls.subject.errors?.required">
        Please enter a subject.
      </p>
    </div>
  </form>
  <ul>
    <li *ngFor="let subject of timetableInfo">
      <span class="bold">{{subject.subject}} {{subject.courseCode}} - {{subject.description}}</span>
      <button class="details" (click)="viewDetails(subject)">Details</button>
      <br>
      {{subject.component}} {{subject.section}}: {{subject.days}}
      {{subject.start}}-{{subject.end}} {{subject.room}}
      <div *ngIf="subject.show">
        <div class="classDetail">{{subject.fullDescription}}</div>
      </div>
    </li>
  </ul>
</div>