<div class="login">
    <h3>{{show ? 'Sign In' : 'Sign Up'}}</h3>
    <form [formGroup]="loginForm">
      <label>Email:</label>
      <input formControlName="email" name="email" type="text" />
      <label>Password:</label>
      <input formControlName="password" name="password" type="password" />
      <button (click)="show ? signIn() : signUp()" [disabled]="!loginForm.valid">{{show ? 'Sign In' : 'Sign Up'}}</button>
    </form>
    <p>{{show ? 'Do not have an account? ' : 'Already have an account? '}}<a (click)="toggleLogin()">{{show ? 'Sign Up' : 'Sign In'}}</a></p>
  </div>  