<div class="left">
  <div class="schedules">
    <h3>Create a Schedule</h3>
    <form [formGroup]="scheduleForm">
      <label>Name:</label>
      <input formControlName="schedule" name="schedule" type="text" />
  
      <!-- <button (click)="viewSchedule(schedule.value)" [disabled]="!schedule.valid">View</button> -->
      <label>Description (optional):</label>
      <input formControlName="description" name="description" type="text" />
      <label>Public?</label>
      <input formControlName="visibility" name="visibility" type="checkbox" />
      <button (click)="createSchedule()" [disabled]="!scheduleForm.valid">Create</button>
      <div *ngIf="scheduleForm.invalid && (scheduleForm.dirty || scheduleForm.touched)">
        <p *ngIf="scheduleForm.controls.schedule.errors?.required">
          Please enter a schedule name.
        </p>
      </div>
    </form>
    <ul>
          <!-- <li *ngFor="let s of scheduleTimetable">
            {{s.subject}} {{s.course}} {{s.courseInfo[0].component}} {{s.courseInfo[0].section}}: {{s.courseInfo[0].days}}
            {{s.courseInfo[0].start}}-{{s.courseInfo[0].end}} ({{s.courseInfo[0].room}})
          </li> -->
    </ul>
  </div>
  <div class="schedule-builder">
    <button class="save" [class.disabled]="x.length == 0" [disabled]="x.length == 0" (click)="saveSchedule()" *ngIf="showSB">Save</button>
    <h3>Schedule Builder</h3>
    <form class="sb">
      <label>Name:</label>
      <input [formControl]="scheduleName" name="schedule" type="text" />
      <button (click)="viewSchedule(scheduleName.value)" [disabled]="!scheduleName.valid">View</button>
    </form>
    <div *ngIf="showSB">
      <h4>Edit Schedule</h4>
      <form [formGroup]="scheduleBuilderForm">
        <label>Subject:</label>
        <input formControlName="sub" name="sub" type="text" />
        <label>Course Code:</label>
        <input formControlName="courseCode" name="courseCode" type="text" />
        <button (click)="addCourse()" [disabled]="!scheduleBuilderForm.valid">Add Course</button>
        <div *ngIf="scheduleBuilderForm.invalid && (scheduleBuilderForm.dirty || scheduleBuilderForm.touched)">
            <p *ngIf="scheduleBuilderForm.controls.sub.errors?.required || scheduleBuilderForm.controls.courseCode.errors?.required">
              Please fill in all fields.
            </p>
          </div>
    </form>
    <ul id="builder-output">
        <li *ngFor="let i of x">
            {{i.subject}} {{i.course}} {{i.courseInfo[0].component}} {{i.courseInfo[0].section}}: {{i.courseInfo[0].days}} {{i.courseInfo[0].start}}-{{i.courseInfo[0].end}} ({{i.courseInfo[0].room}})
            <button class="delete" (click)="deleteCourse(i,i.courseInfo[0].classNum)">x</button>
          </li>
    </ul>
    </div>
  </div>
</div>

<div class="schedule-list">
  <h3>My Schedules</h3>
  <ul>
    <li *ngFor="let schedule of schedules">
      <img [src]="schedule.vis == 'true' ? '../../assets/public.svg' : '../../assets/private.svg' ">
      {{schedule.sName}} ({{schedule.num}} courses)
      <button class="details" (click)="edit()">Edit</button>
      <button class="details" (click)="deleteOne(schedule.sName)">Delete</button>
    </li>
  </ul>
  <div *ngIf="show" class="edit-schedule">
    <form [formGroup]="scheduleForm">
      <label>Name:</label>
      <br>
      <input formControlName="schedule" name="schedule" type="text" class="input-edit"/>
      <br>
      <label>Description (optional):</label>
      <input formControlName="description" name="description" type="text" class="input-edit"/>
      <br>
      <label>Public?</label>
      <input formControlName="visibility" name="visibility" type="checkbox">
      <button class="create" (click)="createSchedule()" [disabled]="!scheduleForm.valid">Update</button>
      <div *ngIf="scheduleForm.invalid && (scheduleForm.dirty || scheduleForm.touched)">
        <p *ngIf="scheduleForm.controls.schedule.errors?.required">
          Please enter a schedule name.
        </p>
      </div>
    </form>
  </div>
</div>