<h2>Hi there, {{name}}</h2>
<div class="left">
  <div class="schedules">
    <h3>Create a Schedule</h3>
    <form [formGroup]="scheduleForm">
      <label>Name:</label>
      <input formControlName="schedule" name="schedule" type="text" />
      <label>Description (optional):</label>
      <input formControlName="description" name="description" type="text" />
      <label>Public?</label>
      <input formControlName="visibility" name="visibility" type="checkbox" />
      <button (click)="createSchedule()" [disabled]="!scheduleForm.valid">Create</button>
      <div *ngIf="scheduleForm.invalid && (scheduleForm.dirty || scheduleForm.touched)">
        <p *ngIf="scheduleForm.controls.schedule.errors?.required">
          Please enter a schedule name.
        </p>
      </div>
    </form>
  </div>
  <div class="schedule-builder">
    <button class="save" [class.disabled]="x.length == 0" [disabled]="x.length == 0" (click)="saveSchedule()" *ngIf="showSB">Save</button>
    <h3>Build a Schedule</h3>
    <form>
      <label>Name:</label>
      <input [formControl]="scheduleName" name="schedule" type="text" />
      <button (click)="viewSchedule(scheduleName.value)" [disabled]="!scheduleName.valid">View</button>
    </form>
    <div *ngIf="showSB">
      <h4>Edit Schedule</h4>
      <form [formGroup]="scheduleBuilderForm">
        <label>Subject:</label>
        <input formControlName="sub" name="sub" type="text" />
        <label>Course Code:</label>
        <input formControlName="courseCode" name="courseCode" type="text" />
        <button (click)="addCourse()" [disabled]="!scheduleBuilderForm.valid">Add Course</button>
        <div *ngIf="scheduleBuilderForm.invalid && (scheduleBuilderForm.dirty || scheduleBuilderForm.touched)">
            <p *ngIf="scheduleBuilderForm.controls.sub.errors?.required || scheduleBuilderForm.controls.courseCode.errors?.required">
              Please fill in all fields.
            </p>
          </div>
    </form>
    <ul id="builder-output">
        <li *ngFor="let i of x">
            {{i.subject}} {{i.course}} {{i.courseInfo[0].component}} {{i.courseInfo[0].section}}: {{i.courseInfo[0].days}} {{i.courseInfo[0].start}}-{{i.courseInfo[0].end}} ({{i.courseInfo[0].room}})
            <button class="delete" (click)="deleteCourse(i,i.courseInfo[0].classNum)">x</button>
          </li>
    </ul>
    </div>
  </div>
</div>

<div class="right">
  <div class="schedule-list">
    <h3>My Schedules</h3>
    <ul>
      <li *ngFor="let schedule of schedules">
        <img [src]="schedule.vis == 'true' ? '../../assets/public.svg' : '../../assets/private.svg' ">
        {{schedule.sName}} ({{schedule.num}} courses)
        <button class="details" (click)="edit(schedule.sName, schedule.show)">Edit</button>
        <button class="details" (click)="deleteOne(schedule.sName)">Delete</button>
      </li>
    </ul>
    <div *ngIf="show" class="edit-schedule">
      <button class="delete position" (click)="close()">x</button>
      <form [formGroup]="editForm">
        <div formArrayName="dataItems" *ngFor="let emp of editForm.get('dataItems').controls; let i = index">
          <div [formGroupName]="i">
            <label>Name:</label>
            <br>
            <input formControlName="schedule" name="schedule" type="text" class="input-edit"/>
            <br>
            <label>Description (optional):</label>
            <input formControlName="description" name="description" type="text" class="input-edit"/>
            <br>
            <label>Public?</label>
            <input formControlName="visibility" name="visibility" type="checkbox">
            <button class="create" (click)="updateSchedule()">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="reviews">
    <h3>Write a Review</h3>
    <form [formGroup]="reviewForm">
      <label>Subject:</label>

      <input class="input-edit" formControlName="subject" name="subject" type="text" />
      <br>
      <label>Course Code:</label>
      <input class="input-edit" formControlName="course" name="course" type="text" >
      <br>
      <label>Review:</label>
      <br>
      <textarea class="input-edit" rows="5" formControlName="review" name="review" type="text"></textarea>
      <br>
      <button (click)="submitReview()" [disabled]="!reviewForm.valid">Submit</button>
      <div *ngIf="reviewForm.invalid && (reviewForm.dirty || reviewForm.touched)">
        <p *ngIf="reviewForm.controls.subject.errors?.required || reviewForm.controls.course.errors?.required || reviewForm.controls.review.errors?.required">
          Please fill in all values.
        </p>
      </div>
    </form>
  </div>

  <div class="password">
    <h3>Update Password</h3>
    <form [formGroup]="updatePasswordForm">
      <label>Current Password:</label>
      <input formControlName="current" name="current" type="password" />
      <br>
      <label>New Password:</label>
      <input formControlName="new" name="new" type="password" />
      <br>
      <label>Confirm New Password:</label>
      <input formControlName="confirm" name="confirm" type="password" />
      <br>
      <button (click)="updatePassword()" [disabled]="!updatePasswordForm.valid">Update</button>
      <div *ngIf="updatePasswordForm.invalid && (updatePasswordForm.dirty || updatePasswordForm.touched)">
        <p *ngIf="updatePasswordForm.controls.current.errors?.required || updatePasswordForm.controls.new.errors?.required || updatePasswordForm.controls.confirm.errors?.required">
          Please fill in all values.
        </p>
      </div>
    </form>
  </div>
</div>
