.user {
    border: 2px solid goldenrod;
    border-radius: 5px;
    background-color: rgba(218, 165, 32, 0.25);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
}

.admin {
    border: 2px solid tan;
    border-radius: 5px;
    background-color: rgba(210, 180, 140, 0.25);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
}

.deactivated {
    border: 2px solid brown;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.25);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
}


.review {
    border: 2px solid olive;
    border-radius: 5px;
    background-color: rgba(128, 128, 0, 0.25);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px
}

.left {
    position: relative;
    display: inline-block;
    width: 47%;
    clear: both;
}

.right {
    position: relative;
    float: right;
    width: 50%;
}

.details {
	background-color:#f9f9f9;
	border-radius: 5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.details:hover {
	background-color:#e9e9e9;
}
.details:active {
	position:relative;
	top:1px;
} 

li {
    margin-bottom: 5px;
}

.bold {
    font-weight: bold;
    margin-right: 5px
}

img {
    width: 15px;
    height: auto;
}

.dmca {
    border: 2px solid oldlace;
    border-radius: 5px;
    background-color: rgba(253, 245, 230, 0.25);
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
}

.input-edit {
    width:95%;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif
}
