<div class="public-course-list">
    <h3>Public Course List</h3>
    <ul>
        <li class="main" *ngFor="let x of courseLists | slice:0:10">
            <span class="bold">User: {{x.user}} <span class="italic">(Last Modified: {{x.lastModified}})</span></span>
            <button class="details" (click)="viewDetails(x)">Details</button>
            <br>
            Schedule Name: {{x.sName}} ({{x.num}} courses)
            <div *ngIf="x.show">
              <div class="classDetail">Description: {{x.desc}}</div>
                  Course IDs: {{x.courseIDList}}
                  <button class="details" (click)="expand(x)">Expand</button>
                  <div *ngIf="x.showDetails">
                    <ul>
                      <li *ngFor="let y of x.courses">
                        {{y.subject}} {{y.course}} {{y.courseInfo[0].component}} {{y.courseInfo[0].section}}: {{y.courseInfo[0].days}} {{y.courseInfo[0].start}}-{{y.courseInfo[0].end}} {{y.courseInfo[0].room}}
                      </li>
                    </ul>
                  </div>
            </div>
          </li>
    </ul>
  </div>  